<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css">
    
    <title>Studio Pixel W3 | Galería</title>
</head>
<body>

    <header class="cabecera">
        <div class="header-contenido container">
            <a href="index.html" class="logo">Studio Pixel W3</a>
            <nav class="navegador">
                <ul>    
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#" class="activo">Galería</a></li>
                    <li><a href="./presupuesto.html">Presupuesto</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>  
    </header>
    <main>
        <section class="container section">
            <h2>Nuestros Últimos Proyectos Web</h2>
            
            <div id="lightgallery" class="galeria-grid">
                
                <a href="../assets/img/proyecto-grande-1.jpg" data-sub-html="<h4>Diseño responsive para Ecommerce</h4>">
                    <img src="../assets/img/proyecto-pequeno-1.jpg" width="5342" height="3561"  alt="Miniatura Proyecto 1">
                </a>

                <a href="../assets/img/proyecto-grande-2.jpg" data-sub-html="<h4>Tienda Online de Tecnología</h4>">
                    <img src="../assets/img/proyecto-pequeno-2.jpg" width="3840" height="2160"  alt="Miniatura Proyecto 2">
                </a>
                
                <a href="../assets/img/proyecto-grande-3.jpg" data-sub-html="<h4>Portfolio de estudio fotográfico</h4>">
                    <img src="../assets/img/proyecto-pequeno-3.jpg" width="4272" height="2848"  alt="Miniatura Proyecto 3">
                </a>

                </div>
            
        </section>
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js"></script>

    <script src="../js/galeria.js"></script> 
</body>
</html>